@layer reset, base, tokens, recipes, utilities;

/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f5f5f5;
	height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	color: black;
}

#app {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	box-sizing: border-box;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
